<nav class="navbar fixed-bottom navbar-light bg-light">
  <span class="navbar fixed-bottom navbar-light bg-light">
    &copy; copyright 2025 Andrew Bentley
    <li>
      <a class= "navbar-brand href" href="https://github.com/meap9898"><i class="fa-brands fa-github"></i></a>
    </li>
        <li>
      <a class= "navbar-brand href" href="https://open.spotify.com/user/meap98?si=dee5fb166f7d45d5"><i class="fa-brands fa-spotify"></i></a>
    </li>
  </span>
</nav>