<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1>Welcome to the <%= title %> page</h1>
<h2> Hello, I am Andrew Bentley.
            I am a Forth year Network and IT Security student at Ontario Tech Univerity. 
            I am the assistant for Anime On Campus for the Univerity. My future goals is to work in the cyber security feld
            I might not be the most creative person but this was something I made out of passion

            </h2>
<img src = "images/rn_image_picker_lib_temp_190ab938-9db2-4a1f-9868-3ff0fcb59baf.png" alt = "me" style = "width:400px;height:600px">
<%- include('partials/footer.ejs') %>

<script src="/javascripts/apps.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>
