<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1>Andrew Bentley</h1>
<img src = "images/rn_image_picker_lib_temp_190ab938-9db2-4a1f-9868-3ff0fcb59baf.png" alt = "me" style = "width:400px;height:600px">
  <%- include('partials/footer.ejs') %>
    <script src="/javascripts/apps.js"> </script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"> </script>
    <script scr="/jquery/dist/jquery.min.js"> </script>
  </body>
</html>
