<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1>Welcome to the <%= title %> page</h1>
        <h2> 
            BMI Caclulator made in python its very basic but it works well and I'm kinda proud of it.


            This is just a simple simulation program Sheep, Wolfs and grass, so the sheep eat the grass and after eatting so much grass the sheep will have a baby
            and if the sheep eat a specific number of sheep the wolfs will have a baby and the grass just grows every 10 seconds this was written in Java

        </h2>
        <a href="downloads/100878197 Andrew Bentley lab 8.py" download>BMI calculator download</a>
        <a href="downloads/Simulation.zip" download>Simulation download</a>

<%- include('partials/footer.ejs') %>

<script src="/javascripts/apps.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>
